products.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XML Schema untuk LitPalm Products -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.litpalm.id/schema/products"
           xmlns="http://www.litpalm.id/schema/products"
           elementFormDefault="qualified">
    
    <!-- Definisi tipe data kompleks -->
    <xs:complexType name="CompanyType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="fullname" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="website" type="xs:string"/>
            <xs:element name="email" type="xs:email"/>
            <xs:element name="phone" type="xs:string"/>
            <xs:element name="address" type="AddressType"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="AddressType">
        <xs:sequence>
            <xs:element name="street" type="xs:string"/>
            <xs:element name="city" type="xs:string"/>
            <xs:element name="province" type="xs:string"/>
            <xs:element name="country" type="xs:string"/>
            <xs:element name="postal" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="CategoryType">
        <xs:sequence>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="waste-source" type="xs:string"/>
            <xs:element name="waste-percentage" type="xs:string"/>
            <xs:element name="products" type="ProductsType"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>
    
    <xs:complexType name="ProductsType">
        <xs:sequence>
            <xs:element name="product" type="ProductType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ProductType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="specifications" type="SpecificationsType"/>
            <xs:element name="benefits" type="BenefitsType"/>
            <xs:element name="applications" type="ApplicationsType"/>
            <xs:element name="image" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"/>
    </xs:complexType>
    
    <xs:complexType name="SpecificationsType">
        <xs:sequence>
            <xs:element name="specification" type="SpecificationType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="SpecificationType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="name" type="xs:string" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:complexType name="BenefitsType">
        <xs:sequence>
            <xs:element name="benefit" type="xs:string" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ApplicationsType">
        <xs:sequence>
            <xs:element name="application" type="xs:string" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Element root -->
    <xs:element name="products">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="company" type="CompanyType"/>
                <xs:element name="category" type="CategoryType" maxOccurs="unbounded"/>
                <xs:element name="services" type="ServicesType"/>
                <xs:element name="metadata" type="MetadataType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:complexType name="ServicesType">
        <xs:sequence>
            <xs:element name="service" type="ServiceType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ServiceType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="contact" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"/>
    </xs:complexType>
    
    <xs:complexType name="MetadataType">
        <xs:sequence>
            <xs:element name="created" type="xs:date"/>
            <xs:element name="lastUpdated" type="xs:date"/>
            <xs:element name="version" type="xs:string"/>
            <xs:element name="language" type="xs:string"/>
            <xs:element name="currency" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>